<div>
    <h2 id="page-heading">
        <span jhiTranslate="kitcuzApp.systemFiles.home.title">System Files</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-system-files" [routerLink]="['/system-files/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="kitcuzApp.systemFiles.home.createLabel">
            Create a new System Files
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="systemFiles?.length === 0">
        <span jhiTranslate="kitcuzApp.systemFiles.home.notFound">No systemFiles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="systemFiles && systemFiles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="kitcuzApp.systemFiles.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="hashName"><span jhiTranslate="kitcuzApp.systemFiles.hashName">Hash Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="kitcuzApp.systemFiles.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="file"><span jhiTranslate="kitcuzApp.systemFiles.file">File</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="time"><span jhiTranslate="kitcuzApp.systemFiles.time">Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fileGroup"><span jhiTranslate="kitcuzApp.systemFiles.fileGroup">File Group</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let systemFiles of systemFiles ;trackBy: trackId">
                    <td><a [routerLink]="['/system-files', systemFiles.id, 'view']">{{ systemFiles.id }}</a></td>
                    <td>{{ systemFiles.name }}</td>
                    <td>{{ systemFiles.hashName }}</td>
                    <td>{{ systemFiles.type }}</td>
                    <td>
                        <a *ngIf="systemFiles.file" (click)="openFile(systemFiles.fileContentType, systemFiles.file)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="systemFiles.file">{{ systemFiles.fileContentType }}, {{ byteSize(systemFiles.file) }}</span>
                    </td>
                    <td>{{ systemFiles.time | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'kitcuzApp.FileGroup.' + systemFiles.fileGroup }}">{{ systemFiles.fileGroup }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/system-files', systemFiles.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/system-files', systemFiles.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(systemFiles)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
