<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="systemFiles">
            <h2><span jhiTranslate="kitcuzApp.systemFiles.detail.title">System Files</span> {{ systemFiles.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kitcuzApp.systemFiles.name">Name</span></dt>
                <dd>
                    <span>{{ systemFiles.name }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.systemFiles.type">Type</span></dt>
                <dd>
                    <span>{{ systemFiles.type }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.systemFiles.file">File</span></dt>
                <dd>
                    <div *ngIf="systemFiles.file">
                        <a (click)="openFile(systemFiles.fileContentType, systemFiles.file)" jhiTranslate="entity.action.open">open</a>
                        {{ systemFiles.fileContentType }}, {{ byteSize(systemFiles.file) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.systemFiles.time">Time</span></dt>
                <dd>
                    <span>{{ systemFiles.time }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/system-files', systemFiles.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
