<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="courses">
            <h2><span jhiTranslate="kitcuzApp.courses.detail.title">Courses</span> {{ courses.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kitcuzApp.courses.title">Title</span></dt>
                <dd>
                    <span>{{ courses.title }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.courses.about">About</span></dt>
                <dd>
                    <span>{{ courses.about }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.courses.price">Price</span></dt>
                <dd>
                    <span>{{ courses.price }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.courses.imageUrl">Image Url</span></dt>
                <dd>
                    <span>{{ courses.imageUrl }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.courses.skills">Skills</span></dt>
                <dd>
                    <span *ngFor="let skills of courses.skills; let last = last">
                        <a [routerLink]="['/skill', skills?.id, 'view']">{{ skills.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/courses', courses.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
