<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="galereyImages">
            <h2><span jhiTranslate="kitcuzApp.galereyImages.detail.title">Galerey Images</span> {{ galereyImages.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kitcuzApp.galereyImages.title">Title</span></dt>
                <dd>
                    <span>{{ galereyImages.title }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.galereyImages.imageUrl">Image Url</span></dt>
                <dd>
                    <span>{{ galereyImages.imageUrl }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.galereyImages.number">Number</span></dt>
                <dd>
                    <span>{{ galereyImages.number }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.galereyImages.galerey">Galerey</span></dt>
                <dd>
                    <div *ngIf="galereyImages.galereyId">
                        <a [routerLink]="['/galereya', galereyImages.galereyId, 'view']">{{ galereyImages.galereyId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/galerey-images', galereyImages.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
