<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-teacher-heading" jhiTranslate="kitcuzApp.teacher.home.createOrEditLabel">Create or edit a Teacher</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                    <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                    <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.middleName" for="field_middleName">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" id="field_middleName"
                           formControlName="middleName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
                    <div class="input-group">
                        <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" ngbDatepicker #dateOfBirthDp="ngbDatepicker" formControlName="dateOfBirth"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.gender" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" formControlName="gender" id="field_gender">
                        <option value="MALE">{{ 'kitcuzApp.Gender.MALE' | translate }}</option>
                        <option value="FEMALE">{{ 'kitcuzApp.Gender.FEMALE' | translate }}</option>
                        <option value="OTHER">{{ 'kitcuzApp.Gender.OTHER' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.registerationDate" for="field_registerationDate">Registeration Date</label>
                    <div class="input-group">
                        <input id="field_registerationDate" type="text" class="form-control" name="registerationDate" ngbDatepicker #registerationDateDp="ngbDatepicker" formControlName="registerationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="registerationDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.lastAccess" for="field_lastAccess">Last Access</label>
                    <div class="d-flex">
                        <input id="field_lastAccess" type="datetime-local" class="form-control" name="lastAccess" formControlName="lastAccess" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.mobile" for="field_mobile">Mobile</label>
                    <input type="text" class="form-control" name="mobile" id="field_mobile"
                           formControlName="mobile"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.thumbnailPhotoUrl" for="field_thumbnailPhotoUrl">Thumbnail Photo Url</label>
                    <input type="text" class="form-control" name="thumbnailPhotoUrl" id="field_thumbnailPhotoUrl"
                           formControlName="thumbnailPhotoUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.fullPhotoUrl" for="field_fullPhotoUrl">Full Photo Url</label>
                    <input type="text" class="form-control" name="fullPhotoUrl" id="field_fullPhotoUrl"
                           formControlName="fullPhotoUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                           formControlName="active"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.key" for="field_key">Key</label>
                    <input type="text" class="form-control" name="key" id="field_key"
                           formControlName="key"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.about" for="field_about">About</label>
                    <input type="text" class="form-control" name="about" id="field_about"
                           formControlName="about"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.portfolia" for="field_portfolia">Portfolia</label>
                    <textarea class="form-control" name="portfolia" id="field_portfolia"
                              formControlName="portfolia"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.leaveDate" for="field_leaveDate">Leave Date</label>
                    <div class="input-group">
                        <input id="field_leaveDate" type="text" class="form-control" name="leaveDate" ngbDatepicker #leaveDateDp="ngbDatepicker" formControlName="leaveDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="leaveDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.isShowingHome" for="field_isShowingHome">Is Showing Home</label>
                    <input type="checkbox" class="form-control" name="isShowingHome" id="field_isShowingHome"
                           formControlName="isShowingHome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.teacher.imageUrl" for="field_imageUrl">Image Url</label>
                    <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                           formControlName="imageUrl"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="kitcuzApp.teacher.skills" for="field_skills">Skills</label>
                    <select class="form-control" id="field_skills" multiple name="skills" formControlName="skills">
                        <option [ngValue]="getSelected(editForm.get('skills')!.value, skillOption)" *ngFor="let skillOption of skills; trackBy: trackById">{{ skillOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
