<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="teacher">
            <h2><span jhiTranslate="kitcuzApp.teacher.detail.title">Teacher</span> {{ teacher.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kitcuzApp.teacher.firstName">First Name</span></dt>
                <dd>
                    <span>{{ teacher.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ teacher.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.middleName">Middle Name</span></dt>
                <dd>
                    <span>{{ teacher.middleName }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.email">Email</span></dt>
                <dd>
                    <span>{{ teacher.email }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.dateOfBirth">Date Of Birth</span></dt>
                <dd>
                    <span>{{ teacher.dateOfBirth }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.gender">Gender</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'kitcuzApp.Gender.' + teacher.gender }}">{{ teacher.gender }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.registerationDate">Registeration Date</span></dt>
                <dd>
                    <span>{{ teacher.registerationDate }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.lastAccess">Last Access</span></dt>
                <dd>
                    <span>{{ teacher.lastAccess }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ teacher.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.mobile">Mobile</span></dt>
                <dd>
                    <span>{{ teacher.mobile }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.thumbnailPhotoUrl">Thumbnail Photo Url</span></dt>
                <dd>
                    <span>{{ teacher.thumbnailPhotoUrl }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.fullPhotoUrl">Full Photo Url</span></dt>
                <dd>
                    <span>{{ teacher.fullPhotoUrl }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.active">Active</span></dt>
                <dd>
                    <span>{{ teacher.active }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.key">Key</span></dt>
                <dd>
                    <span>{{ teacher.key }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.about">About</span></dt>
                <dd>
                    <span>{{ teacher.about }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.portfolia">Portfolia</span></dt>
                <dd>
                    <span>{{ teacher.portfolia }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.leaveDate">Leave Date</span></dt>
                <dd>
                    <span>{{ teacher.leaveDate }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.isShowingHome">Is Showing Home</span></dt>
                <dd>
                    <span>{{ teacher.isShowingHome }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.imageUrl">Image Url</span></dt>
                <dd>
                    <span>{{ teacher.imageUrl }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.teacher.skills">Skills</span></dt>
                <dd>
                    <span *ngFor="let skills of teacher.skills; let last = last">
                        <a [routerLink]="['/skill', skills?.id, 'view']">{{ skills.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/teacher', teacher.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
