<div>
    <h2 id="page-heading">
        <span jhiTranslate="kitcuzApp.abilityStudent.home.title">Ability Students</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ability-student" [routerLink]="['/ability-student/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="kitcuzApp.abilityStudent.home.createLabel">
            Create a new Ability Student
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="abilityStudents?.length === 0">
        <span jhiTranslate="kitcuzApp.abilityStudent.home.notFound">No abilityStudents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="abilityStudents && abilityStudents.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="kitcuzApp.abilityStudent.firstName">First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="kitcuzApp.abilityStudent.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="middleName"><span jhiTranslate="kitcuzApp.abilityStudent.middleName">Middle Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="about"><span jhiTranslate="kitcuzApp.abilityStudent.about">About</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="kitcuzApp.abilityStudent.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateOfBirth"><span jhiTranslate="kitcuzApp.abilityStudent.dateOfBirth">Date Of Birth</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="registerationDate"><span jhiTranslate="kitcuzApp.abilityStudent.registerationDate">Registeration Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="kitcuzApp.abilityStudent.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mobile"><span jhiTranslate="kitcuzApp.abilityStudent.mobile">Mobile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="thumbnailPhotoUrl"><span jhiTranslate="kitcuzApp.abilityStudent.thumbnailPhotoUrl">Thumbnail Photo Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fullPhotoUrl"><span jhiTranslate="kitcuzApp.abilityStudent.fullPhotoUrl">Full Photo Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isShowing"><span jhiTranslate="kitcuzApp.abilityStudent.isShowing">Is Showing</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let abilityStudent of abilityStudents ;trackBy: trackId">
                    <td><a [routerLink]="['/ability-student', abilityStudent.id, 'view']">{{ abilityStudent.id }}</a></td>
                    <td>{{ abilityStudent.firstName }}</td>
                    <td>{{ abilityStudent.lastName }}</td>
                    <td>{{ abilityStudent.middleName }}</td>
                    <td>{{ abilityStudent.about }}</td>
                    <td>{{ abilityStudent.email }}</td>
                    <td>{{ abilityStudent.dateOfBirth | date:'mediumDate' }}</td>
                    <td>{{ abilityStudent.registerationDate | date:'mediumDate' }}</td>
                    <td>{{ abilityStudent.telephone }}</td>
                    <td>{{ abilityStudent.mobile }}</td>
                    <td>{{ abilityStudent.thumbnailPhotoUrl }}</td>
                    <td>{{ abilityStudent.fullPhotoUrl }}</td>
                    <td>{{ abilityStudent.isShowing }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ability-student', abilityStudent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ability-student', abilityStudent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(abilityStudent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
