<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="abilityStudent">
            <h2><span jhiTranslate="kitcuzApp.abilityStudent.detail.title">Ability Student</span> {{ abilityStudent.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kitcuzApp.abilityStudent.firstName">First Name</span></dt>
                <dd>
                    <span>{{ abilityStudent.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.abilityStudent.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ abilityStudent.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.abilityStudent.middleName">Middle Name</span></dt>
                <dd>
                    <span>{{ abilityStudent.middleName }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.abilityStudent.about">About</span></dt>
                <dd>
                    <span>{{ abilityStudent.about }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.abilityStudent.email">Email</span></dt>
                <dd>
                    <span>{{ abilityStudent.email }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.abilityStudent.dateOfBirth">Date Of Birth</span></dt>
                <dd>
                    <span>{{ abilityStudent.dateOfBirth }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.abilityStudent.registerationDate">Registeration Date</span></dt>
                <dd>
                    <span>{{ abilityStudent.registerationDate }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.abilityStudent.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ abilityStudent.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.abilityStudent.mobile">Mobile</span></dt>
                <dd>
                    <span>{{ abilityStudent.mobile }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.abilityStudent.thumbnailPhotoUrl">Thumbnail Photo Url</span></dt>
                <dd>
                    <span>{{ abilityStudent.thumbnailPhotoUrl }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.abilityStudent.fullPhotoUrl">Full Photo Url</span></dt>
                <dd>
                    <span>{{ abilityStudent.fullPhotoUrl }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.abilityStudent.isShowing">Is Showing</span></dt>
                <dd>
                    <span>{{ abilityStudent.isShowing }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ability-student', abilityStudent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
