<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="student">
            <h2><span jhiTranslate="kitcuzApp.student.detail.title">Student</span> {{ student.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kitcuzApp.student.firstName">First Name</span></dt>
                <dd>
                    <span>{{ student.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.student.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ student.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.student.middleName">Middle Name</span></dt>
                <dd>
                    <span>{{ student.middleName }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.student.email">Email</span></dt>
                <dd>
                    <span>{{ student.email }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.student.dateOfBirth">Date Of Birth</span></dt>
                <dd>
                    <span>{{ student.dateOfBirth }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.student.gender">Gender</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'kitcuzApp.Gender.' + student.gender }}">{{ student.gender }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.student.registerationDate">Registeration Date</span></dt>
                <dd>
                    <span>{{ student.registerationDate }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.student.lastAccess">Last Access</span></dt>
                <dd>
                    <span>{{ student.lastAccess }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.student.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ student.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.student.mobile">Mobile</span></dt>
                <dd>
                    <span>{{ student.mobile }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.student.thumbnailPhotoUrl">Thumbnail Photo Url</span></dt>
                <dd>
                    <span>{{ student.thumbnailPhotoUrl }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.student.fullPhotoUrl">Full Photo Url</span></dt>
                <dd>
                    <span>{{ student.fullPhotoUrl }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.student.active">Active</span></dt>
                <dd>
                    <span>{{ student.active }}</span>
                </dd>
                <dt><span jhiTranslate="kitcuzApp.student.key">Key</span></dt>
                <dd>
                    <span>{{ student.key }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student', student.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
