<div>
    <h2 id="page-heading">
        <span jhiTranslate="kitcuzApp.courseRequests.home.title">Course Requests</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-course-requests" [routerLink]="['/course-requests/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="kitcuzApp.courseRequests.home.createLabel">
            Create a new Course Requests
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="courseRequests?.length === 0">
        <span jhiTranslate="kitcuzApp.courseRequests.home.notFound">No courseRequests found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="courseRequests && courseRequests.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="kitcuzApp.courseRequests.firstName">First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="kitcuzApp.courseRequests.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="middleName"><span jhiTranslate="kitcuzApp.courseRequests.middleName">Middle Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="kitcuzApp.courseRequests.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateOfBirth"><span jhiTranslate="kitcuzApp.courseRequests.dateOfBirth">Date Of Birth</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gender"><span jhiTranslate="kitcuzApp.courseRequests.gender">Gender</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="registerationDate"><span jhiTranslate="kitcuzApp.courseRequests.registerationDate">Registeration Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="kitcuzApp.courseRequests.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mobile"><span jhiTranslate="kitcuzApp.courseRequests.mobile">Mobile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="coursesId"><span jhiTranslate="kitcuzApp.courseRequests.courses">Courses</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="coursesId"><span jhiTranslate="kitcuzApp.courseRequests.courses">Courses</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let courseRequests of courseRequests ;trackBy: trackId">
                    <td><a [routerLink]="['/course-requests', courseRequests.id, 'view']">{{ courseRequests.id }}</a></td>
                    <td>{{ courseRequests.firstName }}</td>
                    <td>{{ courseRequests.lastName }}</td>
                    <td>{{ courseRequests.middleName }}</td>
                    <td>{{ courseRequests.email }}</td>
                    <td>{{ courseRequests.dateOfBirth | date:'mediumDate' }}</td>
                    <td jhiTranslate="{{ 'kitcuzApp.Gender.' + courseRequests.gender }}">{{ courseRequests.gender }}</td>
                    <td>{{ courseRequests.registerationDate | date:'mediumDate' }}</td>
                    <td>{{ courseRequests.telephone }}</td>
                    <td>{{ courseRequests.mobile }}</td>
                    <td>
                        <div *ngIf="courseRequests.coursesId">
                            <a [routerLink]="['/courses', courseRequests.coursesId , 'view']" >{{ courseRequests.coursesId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="courseRequests.coursesId">
                            <a [routerLink]="['/course-group', courseRequests.coursesId , 'view']" >{{ courseRequests.coursesId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/course-requests', courseRequests.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/course-requests', courseRequests.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(courseRequests)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
