<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-course-requests-heading" jhiTranslate="kitcuzApp.courseRequests.home.createOrEditLabel">Create or edit a Course Requests</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.courseRequests.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                    <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.courseRequests.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                    <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.courseRequests.middleName" for="field_middleName">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" id="field_middleName"
                           formControlName="middleName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.courseRequests.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.courseRequests.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
                    <div class="input-group">
                        <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" ngbDatepicker #dateOfBirthDp="ngbDatepicker" formControlName="dateOfBirth"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.courseRequests.gender" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" formControlName="gender" id="field_gender">
                        <option value="MALE">{{ 'kitcuzApp.Gender.MALE' | translate }}</option>
                        <option value="FEMALE">{{ 'kitcuzApp.Gender.FEMALE' | translate }}</option>
                        <option value="OTHER">{{ 'kitcuzApp.Gender.OTHER' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.courseRequests.registerationDate" for="field_registerationDate">Registeration Date</label>
                    <div class="input-group">
                        <input id="field_registerationDate" type="text" class="form-control" name="registerationDate" ngbDatepicker #registerationDateDp="ngbDatepicker" formControlName="registerationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="registerationDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.courseRequests.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.courseRequests.mobile" for="field_mobile">Mobile</label>
                    <input type="text" class="form-control" name="mobile" id="field_mobile"
                           formControlName="mobile"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.courseRequests.courses" for="field_courses">Courses</label>
                    <select class="form-control" id="field_courses" name="courses" formControlName="coursesId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="coursesOption.id" *ngFor="let coursesOption of courses; trackBy: trackById">{{ coursesOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kitcuzApp.courseRequests.coursesGroup" for="field_coursesGroup">Courses Group</label>
                    <select class="form-control" id="field_coursesGroup" name="coursesGroup" formControlName="coursesGroupId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="courseGroupOption.id" *ngFor="let courseGroupOption of coursegroups; trackBy: trackById">{{ courseGroupOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
